<footer class="w-full">
    <div class="max-w-[1200px] mx-auto flex info">
        <div class="flex">
            <img class="ml-[120px]" src="https://mangatooncom.vn/official/bottom_dl_v2.png" alt="">
            <div class="ml-[30px]">
                <div class="text-[18px] font-bold mt-5">Tải app</div>
                <div class="mt-[60px] space-x-2">
                    <a href="">
                        <div>
                            <img class="w-[150px]" src="https://mangatooncom.vn/official/appstore.png" alt="">
                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img class="w-[150px]" src="https://mangatooncom.vn/official/googleplay.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="space-y-[10px]">
            <div class="flex items-center text-[14px]">
                <div class="w-[200px] text-center">
                    <i class="fa-solid fa-envelope text-[20px]"></i>

                    <div class="group-title">Email</div>
                </div>
                <div>
                    <div class="group-2">MangaToon</div>
                    <div>
                        <a rel="nofollow" href="mailto:support@mangatoon.mobi"
                            style="color:#333;">support&commat;mangatoon.mobi</a>
                    </div>
                    <div>
                        Send your comics to email
                    </div>
                    <div class="group"><a rel="nofollow" href="mailto:contribute@mangatoon.mobi"
                            style="color:#333;">contribute&commat;mangatoon.mobi</a></div>
                </div>
            </div>
            <div class="flex items-center text-[14px]">
                <div class="w-[200px] text-center">
                    <i class="fa-brands fa-square-facebook text-[20px]"></i>
                    <div class="group-title">Facebook</div>

                </div>
                <div class="contact-item-right">
                    <div class="group-2">Tiếng việt</div>
                    <div class="group"><a rel="nofollow" style="color:#333;" target="_blank"
                            href="https://www.facebook.com/MangaToon_VI-346983792722490/">&commat;MangaToon_VI</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center text-[14px]">
                <div class="w-[200px] text-center">
                    <i class="fa-brands fa-square-instagram text-[20px]"></i>
                    <div class="group-title">Instagram</div>

                </div>
                <div class="contact-item-right">
                    <div class="group-2">Instagram</div>
                    <div class="group"><a rel="nofollow" style="color:#333;" target="_blank"
                            href="https://www.instagram.com/mangatoon_vn">&commat;mangatoon_vn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center bg-[#EDEDF8] mb-[60px]">
        <div class="space-x-[53px] pr-[53px]">
            <a href="#" class="text-[#999] font-black">ALLMANGA</a>
            <a href="#" class="text-[#999] font-black"> MANGATOON</a>
            <a href="#" class="text-[#999] font-black">NOVELTOON</a>
        </div>
        <div class="flex flex-col items-center justify-center text-[14px] leading-[40px]">
            <a class="copyright" rel="nofollow" href="https://mangatooncom.vn/PrivacyPolicy/en" target="_blank">Privacy
                Policy</a>
            <div class="copyright">©2018 - 2024 Mangatoon HK Limited</div>
            <div class="copyright">©2018 - 2024 PT. Manga Toon Group</div>
            <div class="copyright">©2018 - 2024 上海若古信息科技有限公司</div>
            <a href="/vi/keys/list">Đọc truyện tranh miễn phí tại mangatoon</a>
        </div>
    </div>
</footer>