<div>
  <h1 class="text-2xl font-medium"><span></span>📣Hi! Bão Cập Nhật</h1>
  <div class="grid grid-cols-6 gap-4 text-lg font-medium text-[#333333]">
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p class="truncate ">Thất hình đại tội</p>
    </div>
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p>Tên truyện abc xyz</p>
    </div>
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p class="truncate">Truyện tiểu thuyết hàng nghìn tập</p>
    </div>
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p>Naruto</p>
    </div>
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p>Chàng rể mạnh nhất lịch sử</p>
    </div>
    <div>
      <img src="https://cn-e-pic.itoon.org/cartoon-posters/1978ef17.webp" alt="">
      <p>Thất hình đại tội</p>
    </div>
  </div>
</div>