.carousel .slick-dots button {
    background-color: #888 !important;
    border: 2px solid #fff !important;
    z-index: 9999;
    /* Chỉ số ưu tiên cao hơn */
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}