<div class="container mx-auto max-w-[1200px]">
    <!-- Header trang đọc truyện -->
    <div class="flex gap-52">
        <div class="flex gap-14">
            <div class=" text-lg">
                <a href="detail" class="text-red-500"><span nz-icon nzType="left" nzTheme="outline"></span></a>
            </div>
            <div class="w-[230px]">
                <a href=""><img src="https://mangatooncom.vn/official/logo.svg" alt=""></a>
            </div>
        </div>
        <div>
            <button nz-dropdown nzPlacement="bottomCenter" nzTrigger="click" [nzDropdownMenu]="menu">
                <p class="flex items-center mb-0 ">
                    <span class="text-2xl ">Chapter 1</span>
                    <span nz-icon nzType="down" class="text-[10px]"></span>
                </p>
                <span class="text-gray-500">Trấn Quốc Thần Tế</span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu class=" grid grid-cols-3 gap-4 grid-scroll w-[1230px] mt-8 back-ground-ul">
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li nz-menu-item class="back-ground-li">
                        <div class="mx-4 mt-2">
                            <a href="" class="text-base">
                                <p class="text-black text-base mb-0">1 Chapter 1</p>
                                <div class="flex gap-4">
                                    <p class="text-gray-400">2023-03-30</p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="like"
                                            nzTheme="fill"></span>1.4k
                                    </p>
                                    <p class="flex items-center gap-1 text-gray-400"><span nz-icon nzType="message"
                                            nzTheme="fill"></span>285
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <div class="flex items-center gap-5">
            <button
                class="flex items-center justify-center gap-1 border border-red-500 text-red-500 text-base rounded-full h-12 w-28">
                <span nz-icon nzType="share-alt" nzTheme="outline" class="text-[10px] mt-1"></span> share
            </button>
            <button
                class="flex items-center justify-center gap-1 border border-red-500 text-red-500 text-base rounded-full h-12 w-28">
                <span nz-icon nzType="heart" nzTheme="outline" class="text-[10px] mt-1"></span> collect
            </button>
        </div>
    </div>
    <!-- Chuyển chap trên -->
    <div class="flex justify-center items-center gap-12 my-14">
        <button class="border rounded-full text-xl text-gray-400 border-black w-1/5">Chương trước</button>
        <button class="border rounded-full text-xl text-red-500 border-red-500 w-1/5">Chương sau</button>
    </div>

    <!-- Nội dung truyện -->
    <div class="font-mono text-2xl">
        <p>- Ưm, ta đang ở nơi nào thế này?</p>
        <p>Lắc lư cái đầu vừa tỉnh lại sau khi chìm vào hôn mê, Lục Thiếu Du cảm thấy xung quanh mình rất ẩm ướt,
            hơn
            nữa toàn thân đau nhức như muốn tê liệt, gió từ bốn phía thổi qua, tạt vào người hắn khiến hắn không
            nhịn
            được mà rùng mình một cái.
        </p>
        <p>
            Đầu Lục Thiếu Du toát mồ hôi lạnh, hắn vội vàng mở choàng mắt. Không gian xung quanh chỉ là một mảnh đen
            kịt, trên không trung, một vầng trăng lưỡi liềm đang treo lơ lửng. Sau một lát, mượn ánh sáng yếu ớt
            phát ra
            từ mặt trăng hắn mới nhìn được cảnh vật rõ ràng hơn một chút. Hiện tại hắn đang ở trong một đầm nước,
            lúc
            này hẳn là ban đêm.
        </p>
        <p>
            - A...
        </p>
        <p>
            Cơn đau điếng từ đại não truyền đến khiến hắn phải kêu lên một tiếng thảm thiết. Lục Thiếu Du cảm nhận
            được
            có một lực lượng kỳ lạ đánh vào đầu mình khiến hắn lập tức ngất đi một lần nữa.
        </p>
    </div>

    <!-- Nút kéo lên đầu trang -->
    <div class="fixed bottom-10 right-4">
        <button class="text-2xl px-4 py-2">
            <span nz-icon nzType="up-circle" nzTheme="outline"></span>
        </button>
    </div>

    <!-- Chuyển chap dưới -->
    <div class="flex justify-center items-center gap-12">
        <button class="border rounded-full text-xl text-gray-400 border-black w-1/5 my-10">Chương trước</button>
        <button class="border rounded-full text-xl text-red-500 border-red-500 w-1/5">Chương sau</button>
    </div>

</div>